.arrow-navigation {
  width: 100%;
  display: flex;
  justify-content: center;

  span {
    background-color: $white;
    border-radius: 5px;
    color: $main-blue;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.5rem;
    margin-right: 30px;
    cursor: pointer;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  &--product {

    span {
      background-color: $black;
      color: $white;
    }
  }
}