.btn {
  background-color: $orange;
  border-radius: 3px;
  color: $white;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  outline: none;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: $red;
  }

  &--order {
    min-width: 140px;
    background-color: transparent;
    color: $purple;
    border: 2px solid $purple;
    position: relative;
    text-align: right;

    svg {
      position: absolute;
      left: 15px;
    }

    &:hover {
      color: $main-blue;
      background-color: transparent;
      border: 2px solid $main-blue;
    }
  }

  &--large {
    padding: 15px 25px;

    @include atSmall {
      font-size: 1.15rem;
    }
  }
} 