.feature-item {
  position: relative;
  border-radius: 5px;
  padding: 15px;
  text-align: center;

  @include atMedium {
    text-align: left;
  }

  &__box {
    padding: 0;

    @include atMedium {
      padding: 40px 0 40px 30px;
    }
  }

  &__img {
    background-color: $light-orange-secondary;
    text-align: center;
    align-self: center;
    padding: 30px;
    margin-bottom: 30px;

    @include atMedium {
      margin: 0 40px 0 0;
    }

    img {
      @include atMedium {
        width: 75%;
      }
    }
  }

  &__icon {
    color: $orange;
    font-size: 55px;

    &--circle {
      display: flex;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      background: $light-orange;
      border: 10px solid $light-orange-secondary;
      margin-bottom: 15px;
    }
  }

  &__title {
    font-size: 1.6rem;
    color: $black;
    font-family: $primary_font_bold;
    margin: 15px 0;

    @include atSmall {
      font-size: 1.25rem;
      font-weight: 700;
      width: 100%;
    }
  }

  &--circle {
    text-align: center;
  }
} 