.page-section {
  padding: 20px 0;
  background-color: $light-grey;

  @include atMedium {
    padding: 60px 0;
  }

  &--white-bg {
    background-color: $white
  }

  &__intro {
    text-align: center;
    margin: 40px auto;

    @include atMedium {
      width: 55%;
    }
  }

  &__intro--left-align {
    width: 100%;
    text-align: left;
    margin: 0;
  }

  &__title {
    color: $black;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 10px 0;
    justify-content: center;
    text-transform: capitalize;
  }

  &__desc {
    color: $grey;
    line-height: 1.7;
  }
}