.primary-nav {

  li {
    list-style: none;
    padding-right: 7px;
    display: inline-block;

    @include atMedium {
      padding-right: 20px;
      float: left;
      display: block;
    }
  }

  a {
    color: $black;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
    font-size: 1rem;

    &:hover {
      color: $red;
    }

    &.is-current-link {
      color: $orange;
    }
  }
} 