.product-img {
  height: 450px;
  display: flex;
  justify-content: center;
  position: relative;
  align-self: center;
  margin-top: 50px;

  @include atMedium {
    margin-top: 0
  }

  &--front {
    position: relative;
    z-index: 2;
    object-fit: contain;
  }

  &--bg {
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}