.row {

  @include atSmall {

    &__small-flex {
      display: flex;
    }

    &__small-5 {
      width: 41.66%;
    }

    &__small-7 {
      width: 58.33%;
    }
  }

  @include atMedium {

    &__medium-flex {
      display: flex;
    }

    &__medium-3 {
      width: 25%;
    }

    &__medium-4 {
      width: 33.33%;
    }

    &__medium-5 {
      width: 41.66%;
    }

    &__medium-6 {
      width: 50%;
    }

    &__medium-7 {
      width: 58.33%;
    }

    &__medium-8 {
      width: 66.66%;
    }

    &__medium--gutter {
      margin-right: 40px;
    }
  }
} 