.video {
  width: 100%;
  height: 380px;
  margin: 40px auto 0;
  position: relative;

  @include atMedium {
    margin-top: 0;
    max-width: 380px;
  }

  &__box {
    width: 100%;
    max-width: 100%;
    position: relative;
    height: 100%;
  }

  &__yt {
    display: none;
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 100%;
  }
}