.youtube-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80px;
  height: 80px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 150%;
    height: 150%;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: $main-red;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    z-index: 2;
  }
  
  &:after {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $main-red;
    border-radius: 50%;  
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  }

  &__triangle {
    position: relative;
    background-color: $white;
    display: inline-block;
    z-index: 3;
    transform: rotate(30deg) skewX(-30deg) scale(1,.866);
  
    &::before, &::after {
      content: '';
      position: absolute;
      background-color: inherit;
    }
  
    &::before {
      transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
    }
  
    &::after {
      transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
    }
  }

  &__triangle, &__triangle::before, &__triangle::after {
    width: 12px;
    height: 12px;
    border-top-right-radius: 35%;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}