@font-face {
  font-family: "Roboto-Light";
  src: url('../assets/fonts/roboto-light.eot');
  src: url('../assets/fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/roboto-light.woff2') format('woff2'),
      url('../assets/fonts/roboto-light.woff') format('woff'),
      url('../assets/fonts/roboto-regular.ttf') format('truetype'),
      url('../assets/fonts/roboto-light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url('../assets/fonts/roboto-regular.eot');
  src: url('../assets/fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/roboto-regular.woff2') format('woff2'),
      url('../assets/fonts/roboto-regular.woff') format('woff'),
      url('../assets/fonts/roboto-regular.ttf') format('truetype'),
      url('../assets/fonts/roboto-regular.svg#Roboto') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url('../assets/fonts/roboto-bold.eot');
  src: url('../assets/fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/roboto-bold.woff2') format('woff2'),
      url('../assets/fonts/roboto-bold.woff') format('woff'),
      url('../assets/fonts/roboto-bold.ttf') format('truetype'),
      url('../assets/fonts/roboto-bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}