body {
  font-family: $primary_font, sans-serif;
  color: $grey;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: $orange;
  text-decoration: none;
} 