$primary_font: "Roboto-Regular";
$primary_font_light: "Roboto-Light";
$primary_font_bold: "Roboto-Bold";

$white: #ffffff;
$black: #000000;
$grey: #918d8d;
$light-grey: #f9f9f9;
$green: #2bffa9;
$orange: #ff4d1c;
$light-orange: #ffddd2; 
$light-orange-secondary: #FFEBE2;
$main-blue: #2f5572;
$border-blue: #e6f0fa;
$red: #cf3f39;
$main-red: #e03b0d;
$purple: #8030f1;
$box-shadow: rgba(100, 100, 111, 0.2);