.about-first {
  padding-bottom: 60px;

  &__img {
    text-align: center;
    align-self: center;
  }
  
  &__box {
    background-color: $white;
    box-shadow: $box-shadow 0px 8px 24px;
    padding: 40px;
    margin: 2px 0;

    @include atMedium {
      margin: 40px 0;
    }
  }

  ul {
    margin-top: 30px;
  }

  li {
    list-style: none;
    padding: 12px 0;
    font-size: .875rem;
    font-family: $primary_font_bold;
    color: $black;

    &:first-child {
      padding: 0 0 10px;
    }

    &:last-child {
      padding: 10px 0 0;
    }

    &::before {
      content: '✓';
      color: $green;
      margin-right: 10px;
      font-weight: bold;
    }
  }
}