.about-second {
  position: relative;
  background: url('../assets/images/banner-3.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  padding: 60px 0;
 
  @include atMedium {
    padding: 120px 0;
  }
  
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $white;

    h3 {
      font-size: 2.3rem;
    }

    p {
      font-size: .875rem;
      color: $white;
      margin-top: 30px;
    }
  }
}