.about-third {
  padding: 20px 0;
  position: relative;
  z-index: 2;

  @include atMedium {
    padding: 60px 0;
  }
  
  &__bg {
    display: none;

    @include atMedium {
      display: block;
      position: absolute;
      top: 0;
      left: -47%;
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      z-index: 1;
      object-fit: contain;
    }
  }

  &__visible {
    position: relative;
    z-index: 2;
  }
}