.contact {
  align-self: flex-end;

  &__form {
    margin-top: 60px;

    input, textarea {
      width: 100%;
      border: 0;
      outline: 0;
      border-bottom: 1px solid $grey;
      color: $grey;
      padding: 10px;
      margin-bottom: 30px;
  
      &::placeholder { 
        color: $black;
        opacity: .3;
        background-color: $white;
      }
    }

    textarea {
      min-height: 100px;

      @include atMedium {
        min-height: 200px;
      }
    }
  }
}