.faq {
  @include atMedium {
   margin-right: 30px;
  }

  &:nth-last-child(1) {
    margin-right: 0;
  }

  &__box {
    border: 1px solid $border-blue;
    margin-bottom: 10px;
    border-radius: 4px;
  }

  &__question {
    background-color: $light-grey;
    color: $black;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 15px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
  }

  &__icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: $orange;
    font-size: 1rem;
    transition: all .3s ease-out;

    &--close {
      opacity: 0;
    }
  }

  &__answer {
    display: none;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height .5s ease-out;

    p {
      font-size: 0.875rem;
      font-weight: 300;
      line-height: 1.4;
      color: $grey;
      padding: 15px;
      margin: 0;
    }
  }

  .active > {

    .faq__answer {
      display: block;
      max-height: 20rem;
    }

    .faq__question .faq__icon--open {
      opacity: 0;
    }

    .faq__question .faq__icon--close {
      opacity: 1;
    }
  }
}