.large-hero {
  position: relative;
  background: url('../assets/images/banner-1.png') center center no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding-top: 200px;
  
  @include atMedium {
    min-height: 800px;
    text-align: left;
    padding: 40px 0;
  }

  &__content {
    width: 100%;

    @include atMedium {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__title {
    color: $black;
    margin: 0;
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 2px;

    @include atMedium {
      font-size: 4rem;
    }
  }

  &__description {
    line-height: 1.5;
    margin: 40px 0;
  }

  &__img {
    text-align: center;
    margin: 40px 0;

    @include atMedium {
      text-align: right;
      margin: 0;
    }

    img {
      max-height: 430px;
    }
  }
} 