.product {
  background-color: $light-orange-secondary;
  border: 2px solid $border-blue;
  padding: 40px 40px 60px;

  &__img {
    text-align: center;

    @include atMedium {
      max-height: 275px;
    }

    img {
      height: 100%;
    }
  }

  &__title {
    color: $black;
    font-family: $primary_font_bold;
    font-size: 1.25rem;
    margin-bottom: 15px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    @include atSmall {
      align-items: flex-start;
      margin-top: 0;
    }
  } 

  li {
    list-style: none;
    padding: 5px 0;
    font-size: .875rem;
    font-weight: 300;
    color: $black;

    &::before {
      content: '✓';
      color: $green;
      margin-right: 5px;
      font-weight: bold;
    }
  }

  &__price {
    color: $black;
    display: flex;
    margin: 30px auto;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
    max-width: auto;
    min-width: 110px;

    @include atSmall {
      max-width: 110px;
      margin: 30px 0;
    }
  }

  &__discount {
    font-size: 1.15rem;
    position: absolute;
    right: 0;
    top: -10px;
    text-decoration-line: line-through;
    color: $grey;
  }
}