.site-header {
  padding: 15px 0;
  width: 100%;
  background-color: $light-orange-secondary;
  position: fixed;
  z-index: 10;
  transition: background-color .3s ease-out;

  &__content {

    @include atMedium {
      display: flex;
      justify-content: space-between;
      align-self: center;
      align-items: center;
    }
  }

  &__logo {
    margin: 0 auto;
    max-width: 100px;

    @include atMedium {
      margin-left: 50px;
    }
  }

  &__menu-content {
    position: relative;
    text-align: center;
    margin-top: 40px;

    @include atMedium {
      margin-top: 0;
    }
  }

  &--white {
    background-color: $white;
    box-shadow: $box-shadow 0px 8px 24px;
  }
} 