.site-footer {
  width: 100%;
  padding: 25px 0;
  background-color: $light-grey;

  &__social-icons {
    display: flex;
    align-items: center;
    justify-content: center;

    @include atMedium {
      justify-content: flex-start
    }

    h4 {
      color: $black;
    }
  }

  &__follow {
    display: flex;
    margin-left: 15px;
  }

  &__link {
    border: 1px solid $red;
    color: $red;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
    width: 40px;
    display: block;
    text-align: center;

    &:nth-last-child(1) {
      margin-right: 0;
    }

    &:hover {
      color: $orange;
      border-color: $orange;
    }
  }

  &__text {
    text-align: center;

    @include atMedium {
      text-align: right;
    }

    a:hover {
      color: $red;
    }
  }
} 