.testimonial {
  display: flex;
  overflow: hidden;

  @include atMedium {
    overflow: visible;
  }
  
  &__box {
    min-width: 100%;
    background-color: $white;
    border: 1px solid $border-blue;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;

    @include atMedium {
      min-width: 33.33%;
      margin-right: 20px;
      padding: 40px 20px;
    }
  }

  &__img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
  }

  &__title {
    color: $orange;
    font-size: 1.25rem;
    margin: 15px 0 7px;
  }

  &__position {
    font-weight: 300;
    font-size: 1rem;
  }

  &__quote {
    width: 100%;
    display: block;
    color: $main-blue;
    font-size: 25px;
    margin: 24px 0 12px;
  }

  &__rate {
    width: 25%;
    margin-bottom: 10px;
  }

  p {
    font-size: .875rem;
  }
}